@import './../../assets/scss/mixin.scss';

.bookPage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    @include adaptive-value('gap', 50, 25, 1);

    &__back {
        text-align: left;
        @include adaptive-value('margin-bottom', 25, 12, 1);

        a {
            display: flex;
            text-align: right;
            @include adaptive-value('width', 180, 110, 1);
            align-items: center;
        }

        a:hover {
            color: #fff;
            transform: scale(0.9);
            transition: all 0.25s;
        }

        svg {
            width: 22%;
        }

    }

    &__img {
        img {
            height: auto;
        }
    }

    &__main {

        span {
            color: #fff;
            font-weight: 600;
            @include adaptive-value('font-size', 24, 11, 1);
        }

        &-title {
            @include adaptive-value('margin-bottom', 30, 15, 1);
        }

        &-authors {
            @include adaptive-value('margin-bottom', 30, 15, 1);
        }

        &-description {
            p {
                @include adaptive-value('font-size', 14, 6, 1);
            }
        }

    }
}

@media(max-width:900px) {
    .bookPage {
        grid-template-columns: 1fr;

        &__img {
            width: 40%;
            margin: 0 auto;

            img {
                height: auto;
            }
        }
    }
}